<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>LOGIN</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <main class="container">

        <form>

            <h1>Login SPAM IFPR</h1>

            <div class="input-box">
                <input placeholder="Usuário" type="text">
            </div>

            <div class="input-box">
                <input placeholder="Senha" type="password">
            </div>

            <div class="register_link">
                <button class="login" type="submit">Entrar</button>
            </div>

            <div class="register_link">
                <p>
                    Não possui uma conta?
                    <a href="#">Cadastre-se</a>
                </p>
            </div>

            <div class="remember-forgot">

                <label>
                    <input type="checkbox" name="remember" id="remember">
                    Lembrar minha senha
                </label>

                <a href="#">Esqueci minha senha</a>

            </div>

        </form>

    </main>

</body>
</html>